@model IEnumerable<BarberShop.Models.Testimonial>

<h1>Testimonials</h1>

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Testimonial</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var testimonial in Model)
        {
            <tr>
                <td>@testimonial.UserId</td>
                <td>@testimonial.Text</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")">Add Testimonial</a>

