@{
    ViewData["Title"] = "Anasayfa";
}
<div class="jumbotron text-center">
    <h1 class="font-weight-bold">Kuaför ve Berber Yönetim Sistemi</h1>
    <p>Tarzınızı bulun, hizmetlerimizden faydalanın ve hemen randevu alın!</p>
    <a class="btn btn-primary btn-lg" href="/Appointments/Create">Randevu Al</a>
</div>

