@model IEnumerable<BarberShop.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Çalýþanlarýmýz";
}
<h1>Çalýþanlarýmýz</h1>
<div class="row">
    @foreach (var employee in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@employee.Name</h5>
                    <p><strong>Uzmanlýk:</strong> @employee.Specialization</p>
                    <p><strong>Randevu Sayýsý:</strong> @employee.AppointmentCount</p>
                </div>
            </div>
        </div>
    }
    }
