@model BarberShop.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Giriþ Yap";
}
<h1>Giriþ Yap</h1>
<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="Email">E-posta</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Password">Þifre</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <div class="form-check">
        <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label">Beni Hatýrla</label>
    </div>
    <button type="submit" class="btn btn-primary">Giriþ Yap</button>
</form>
