<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand d-flex align-items-center m-1" href="/">
        <!-- Logo -->
        <img src="/images/rskveaxu.png" alt="Kuaför Sitesi Logosu" style="height: 40px; margin-right: 10px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Sol Menü -->
        <ul class="navbar-nav m-1">
            <li class="nav-item">
                <a class="nav-link" href="/">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Services">Hizmetler</a>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Appointments/MyAppointments">Randevularım</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AI/Recommendation">Saç Modeli Önerisi</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link" href="/Testimonials">Yorumlar</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link text-success" href="/Admin">Admin Paneli</a>
                </li>
            }

        </ul>

        <!-- Sağ Menü -->
        <ul class="navbar-nav ms-auto m-1">
            @if (User.Identity.IsAuthenticated)
            {
                <!-- Kullanıcı oturum açmışsa -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @User.Identity.Name
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <a class="dropdown-item text-danger" href="/Account/Logout">Çıkış Yap</a>
                    </div>
                </li>
            }
            else
            {
                <!-- Kullanıcı oturum açmamışsa -->
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Login">Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Register">Kayıt Ol</a>
                </li>
            }
        </ul>
    </div>
</nav>
